nav ul {
list-style-type:none;
text-align:left;
overflow:hidden;
padding: 10px;
background-color: antiquewhite;
display: inline-block;
font-size: auto;}
nav ul li {
display: inline;
float: left;
color: black;}
nav ul li a {
border: 2px solid black;
border-radius: 75px;
margin: 60px;
padding: 10px; 
display: inline;
text-align: left;
color: black;}
nav ul li :hover{
background-color: white;
text-align: left;
font-size: auto;}
ul.packages {
 list-style-type: disc;
 padding: 10px;
 background-color: antiquewhite;
 font-size: 16px;
 width: 50%;
 display: inline-block;
 text-align: center; 
 list-style-position: inside;
} 
ul li.packages {
  margin: 10px 0;
  padding: 0;
  list-style-position: inside;
}
h1{
 font-size: 60px;
 text-align: center;
 color: black;
 background-color: antiquewhite;}

.logo{
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite; 
}
 h2{
 text-align: center;
 font-size: 35px;
 color: black;
 background-color: antiquewhite;}
 h3{
  text-decoration: underline;}
body {
  text-align: center;
  background-color: antiquewhite;
  max-width: 1000px;
  margin-bottom: 20px;
  font-size: 16px;
  padding-bottom: 20px;
  } 
/* Step 1: Basic styling for all icons
   These styles are required to make icons render reliably */
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;}
.ghost::before {
  /* Set the font to Solid */
  font: var(--fa-font-solid);
  /* Set the Unicode value for the "fa-ghost" icon */
  content: '\f6e2';
}

/* any HTML element with the "delete" class will render fa-trash icon in the Sharp Solid style */
.delete::before {
  /* Set the font to Sharp Solid */
  font: var(--fa-font-sharp-solid);
  /* Set the Unicode value for the "fa-trash" icon */
  content: '\f1f8';
}

/* any HTML element with the "custom-icon" class to render a custom icon (uploaded to a Kit) */
.custom-icon::before {
  font-family: 'Font Awesome Kit'; /* note that you need to use "font-family" for custom icons */
  content: '\[CUSTOM*ICON_UNICODE]'; /* replace with custom icon's unicode value \*/
}

 footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: antiquewhite;
  padding: 10px;
  text-align: left;
  z-index: 1000;
  font-size: 10px;
}
