nav ul {
list-style-type:none;
text-align:left;
overflow:hidden;
padding: 10px;
background-color: rgb(53, 94, 70);
display: inline-block;
font-size: auto;}
nav ul li {
display: inline;
float: left;
color: black;}
nav ul li a {
border: 2px solid black;
border-radius: 75px;
margin: 45px;
padding: 10px; 
display: inline;
text-align: left;
color: antiquewhite;}
nav ul li :hover{
background-color: white;
text-align: left;
font-size: auto;}
ul.packages {
 color: black;
 list-style-type: disc;
 padding: 10px;
 background-color: antiquewhite;
 font-size: 16px;
 width: 50%;
 display: inline-block;
 text-align: center; 
 list-style-position: inside;
} 
ul li.packages {
  color: black;
  margin: 10px 0;
  padding: 0;
  list-style-position: inside;
}
h1{
 font-size: 60px;
 text-align: center;
 color: black;
 background-color: rgb(53, 94, 70);}

.logo{
  width: 150px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite; 
}
 h2{
 text-align: center;
 font-size: 35px;
 color: antiquewhite;
 background-color: rgb(53, 94, 70);}
 h3{
  color: black;
  text-decoration: underline;}
body {
  color: antiquewhite;
  text-align: center;
  padding-left: 40px;
  background-color:rgb(53, 94, 70);
  max-width: 1000px;
  margin-bottom: 20px;
  font-size: 16px;
  padding-bottom: 35px;
  } 

button {
  background-color: antiquewhite;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-size: 22px;
}

 footer {
  color : black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: antiquewhite;
  padding: 10px;
  text-align: left;
  z-index: 1000;
  font-size: 10px;
}




/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative; 
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}
